<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in latest_project_list %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}" width="22%">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'projects:detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
<!--{% if latest_project_list %}
    <ul>
    {% for project in latest_project_list %}
        <li><a href="{% url 'projects:detail' project.id %}">{{ project.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}-->
</body>
</html>