.card-body {
background-color: #e8e6e6;
}
.card {
border: 0.0;
}
.card-img-top {
position: relative;
}

.title {
position: absolute;
top: 50%;
right: 50%;
}

.navbar {
    background-color: #e8e6e6;
    margin:0%;
    border: 0px;
    display: justify-content-between;
}

.sticky-top {
position: fixed;
}


