.carousel {
  margin: 7rem
}

.carousel-inner {
  height: auto;
}

.carousel-control-prev {
  margin-left: -120px;
}

.carousel-control-next {
  margin-right: -120px;
}
.carousel-control-prev-icon {
  color: #E8E6E6;
  border-radius: 25%;
  background-color: #E8E6E6;
}

.carousel-control-next-icon {
  color: #000;
   border-radius: 25%;
    background-color: #E8E6E6;
}

