
.carousel {
  margin: 0.5rem
}

.carousel-inner {
  height: auto;
}

.carousel-control-prev {
  margin-left: -5%;
}

.carousel-control-next {
  margin-right: -5%;
}

.carousel-control-prev-icon {
  border-radius: 12%;
  background-color: #060A0B;
}

.carousel-control-next-icon {
   border-radius: 12%;
    background-color: #060A0B;
}

