<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects02</title>
</head>
<body>

{% extends 'base.html' %}

{% block page_content %}
{% load static %}
<link rel='stylesheet' href="{% static 'projects02/custom.css' %}" type='text/css' />



{% for project in projects %}
<div class="container"

        <div class="row">
              <div class="col-md-7 mb-3 mb-sm-2">
                  <div class="card">
                    <div class="view overlay">
                        <a href="{% url 'projects02:detail' project.id %}" >
                                <img class="card-img-top" src="{{project.image.url}}" alt="">
                                <div class="title">
                                    <h2>{{project.titel}}</h2>
                                </div>
                            </div>

                        </a>
                        <div class="mask rgba-white-slight"></div>

                        <div class="row">
                              <div class="col">
                                <div class="card">
                                     <div class="card-body">
                                        <h4 class="card-title">{{project.titel}}</h4
                                        <p class="card-text">{{project.kurzbeschreibung}}</p>
                                        <a href="{% url 'projects02:detail' project.id %}" class="btn btn-primary btn-md">mehr erfahren</a>
                                     </div>
                                </div>
                              </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">{{project.title}}</h4
                                        <p class="card-text">{{project.short_description}}</p>
                                        <a href="{% url 'projects02:detail' project.id %}" class="btn btn-primary btn-md">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
             </div>
        {% endfor %}
      </div>
</div>
{% endblock %}

</body>
</html>